<header class="app-header">
  <div class="header-container">
    <a class="logo" routerLink="/">
      <div class="logo-icon-container">
        <lucide-icon [img]="Sprout" [size]="26"></lucide-icon>
      </div>
      <div class="logo-text-container">
        <p class="title">Plant Care</p>
        <p class="subtitle">Adube sua vida</p>
      </div>
    </a>

    <div class="header-actions">
      <button class="btn add-plant-btn">
        <lucide-icon [img]="Plus" [size]="26"></lucide-icon>
      </button>
    </div>
  </div>
</header>
